#body {
  background-color: hwb(48 18% 6%);
  color: rgb(0, 0, 0);
  font-family: "", Times, serif;
  padding: 150px;
  font-size: 30px;
}
#centro {
  display: flex;
  justify-content: center;
  border: solid black;
  align-items: center;
}
#img {
  
  height: 400px;
  left: 100px;
}
