body{
    margin: 0;
}
.botton--enviar{
  color: chocolate;
  width: auto;
  height: 50;  
}
.title--titulo{
    color: crimson;
}
.title--titulo:hover{
  color: blueviolet;
}
@media screen and (min-width: 780px) and (max-width: 1440){
  .title--titulo{
    color:black
  }
}